.vs/*
.idea/*
Build/*
*/cmake-build-debug/*
*/cmake-build-release/*
Game/BossRush/EngineInclude/*
Game/BossRush/Code/Build/*
Game/BossRush/Code/Dlls/*
Game/BossRush/Code/.idea/*

Generated/*

!*/.gitkeep
TestMaths/.vs
TestMaths/Debug
out
SolidEngine/Include/EngineGenerated
